<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nextage</title>
    <link rel="stylesheet" href="/css/reset.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header-left">
          <div class="logo">
            <a href="#"> > Nextage </a>
          </div>
        </div>
        <div class="header-right">
          <a href="#">ログイン</a>
        </div>
      </div>
    </header>
    <div class="menu-wrapper">
      <div class="container">
        <div class="menu">
          <ul>
            <li><a href="#">サイトトップ</a></li>
            <li><a href="#">すべての記事</a></li>
            <li><a href="#">カテゴリ別記事</a></li>
            <li><a href="#">お気に入り</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="resign-confirmation">
        <h1>本当に退会しますか？</h1>
        <h2>退会すると全てのユーザーログが抹消されます</h2>
        <p><input type="submit" value="退会確認画面へ"></p>
      </div>
    </div>
    <footer>

    </footer>
  </body>
</html>
