<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Plus IT</title>
    {% block customcss %}
    {% endblock customcss %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

  </head>
  <body>
  <div id="global-container">
    <div id="container">
    {% block header %}
    {% endblock header %}

    {% block main %}
    {% endblock main%}
    <div id="react-contact-button">
      <a href="{% url 'contact'%}">
        <div class="c-btn c-btn--feedback" id="contact-button">
          <span class="far fa-envelope u-mr5"></span>ご意見箱
        </div>
      </a>
    </div>
    <footer>
        Copyright 2020 xxxxxxxxx. All Rights Reserved.
    </footer>
  </div>
  {% block sidenav %}
  {% endblock sidenav%}
</div>
{% block customjs %}
{% endblock customjs %}
 </body>
</html>