{% extends 'base.html' %}
{% load static %}


{% block customcss %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'reset.css' %}">
{% endblock customcss %}

{% block header %}
    <header>
        <ul class="h-left">
            {% if user.id %}
            <li><a href="/mypage/{{ user.id }}"><i class="fas fa-laptop">マイページ</i></a></li>
            {% else %}
            <li><a href="{% url 'toppage' %}"><i class="fas fa-laptop">トップページ</i></a></li>
            {% endif %}
            <li><a href="{%url 'all_contents'%}">コンテンツ一覧</a></li>
            <li><a href="{%url 'ranking'%}">よく読まれている記事</a></li>
            <li class="ctg-lists"><a href="#">カテゴリー一覧</a></li>
        </ul>

        <ul class="h-right">
            <li>
                <form action="{% url 'search' %}" method="GET">
                    <input type="search" style="font-size: 13px; width: 180px;" placeholder="キーワードで検索" name="key_search" id="q_in_topbar" value="" autocomplete="off">
                    <button type="submit" ><i class="fas fa-search"></i></button>
                </form>
            </li>
            {% if user.id %}
            <li>{{ user.username }}さん</li>
            <li><a href="{% url 'logout' %}">ログアウト</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">ログイン</a></li>
            <li><a class="btn" href="{% url 'create' %}">無料会員登録</a></li>
            {% endif %}
        </ul> 
        <button class="mobile-menu__btn menu-icon-bar">
            <i class="fas fa-bars fa-2x"></i>
        </button>

        {% if not user.id %}
        <button class="mobile-menu__btn menu-icon-sign-in">
            <a href="{% url 'login' %}"><i class="fas fa-sign-in-alt fa-2x"></i></a>
            <a href="{% url 'create' %}"><i class="fas fa-user-plus fa-2x"></i></a>
        </button>          
        {% endif %}                          
    </header>
{% endblock header %}

{% block main %}
<div id="list-global-container">
    <div class="list-main-container">
        <h2 class="entry-title">{{cats}}関連一覧</h2>
        {% for item in category_posts %}
        <div class="list-item">
            <div class="link-box">
                <a href="{% url 'post_detail' item.pk %}" class="link-item">
                    <div class="item-category">
                        カテゴリー：{{item.category}}
                    </div>
                    <h3 class="item-title">{{item.title}}</h3>
                </a>
            </div>
            <div class="description">
                {{item.description}}
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="list-aside-container">
    {% for item in category_ranking %}
        {{item.title}}
    {% endfor%}
    </div>
</div>

{% endblock main %}

{% block sidenav %}
<nav class="category-menu">
    <i class="fas fa-times fa-lg"></i>
    <ul class="category-menu__main">
        {% for category in allcats %}
        <li class="category-menu__item">
           <span class="category__title">{{category}}</span> 
        <ul class="sub-category-menu__main">
            <li class="sub-category-menu__item">
                {% for subcategory in category.children.all %}
                <a class="category-menu__link" href="{% url 'category' subcategory.slug %}">
                    {{subcategory}}
                </a>
                {% endfor %}
            </li>
        </ul>
        </li>
        {% endfor %}
    </ul>
</nav>
<nav class="mobile-menu">
    <i class="fas fa-times fa-lg"></i>
    <ul class="mobile-menu__main">
        <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="{%url 'all_contents'%}">
                <span class="mobile-main__title">コンテンツ一覧</span>
            </a>
        </li>
        <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="{%url 'ranking'%}">
                <span class="mobile-main__title">よく読まれている記事</span>
            </a>
        </li>
        
        <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#">
                <span class="mobile-main__title">カテゴリー一覧</span>
            </a>
            <ul class="category-menu__main">
                {% for category in allcats %}
                <li class="category-menu__item">
                   <span class="category__title">{{category}}</span> 
                <ul class="sub-category-menu__main">
                    <li class="sub-category-menu__item">
                        {% for subcategory in category.children.all %}
                        <a class="category-menu__link" href="{% url 'category' subcategory.slug %}">
                            {{subcategory}}
                        </a>
                        {% endfor %}
                    </li>
                </ul>
                </li>
                {% endfor %}
            </ul>
        </li>
        <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#">
                <span class="mobile-main__title">検索</span>
            </a>
            <div class="mobile-search">
                <form action="{% url 'search' %}" method="GET">
                    <input type="search" style="font-size: 13px; width: 180px;" placeholder="キーワードで検索" name="key_search" id="q_in_topbar" value="" autocomplete="off">
                    <button type="submit" ><i class="fas fa-search"></i></button>
                </form>
            </div>
        </li>
        {% if user.id %}
        <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="{% url 'logout' %} ">
                <span class="mobile-main__title">ログアウト</span>
            </a>
        </li>
        {% else %}
        <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="'{% url 'login' %} ">
                <span class="mobile-main__title">ログイン</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock sidenav%}

{% block customjs %}
<script src="{% static 'main.js' %}"></script>
{% endblock customjs %}